<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>鼎驰科技</title>
	#parse("common/common.vm")
	#parse("common/errorUtils.vm")
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin-all.css" />
    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="/js/tip.js"></script>
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>用户管理<b class="tip"></b>开始爬网</div>
    <form id="crawlLoginForm" action="httpDeal.do?requestType=login" method="post" onsubmit="return submitLogin();">
    <table class="table table-striped table-bordered table-condensed">
    	<input type="hidden" id="area" name="area" value="3">
    	<input type="hidden" id="pos" name="pos" value="$!crawlLogin.pos">
		<tr>
			<td align="right">内容：</td>
			<td><textarea id="user" name="user" rows="10" cols="50">$!crawlLogin.user</textarea></td>
		</tr>
    	<tr>
			<td>&nbsp;</td>
          	<td>
          		<input class="btn btn-inverse" type="submit" value="开始"/>
				<input class="btn btn-inverse" type="button" onclick="javascript:history.go(-1)" value="返回"/>
			</td>
		</tr>
		<input type="hidden" id="pwd" name="pwd">
		<input type="hidden" id="rand" name="rand">
		<input type="hidden" id="msg" name="msg">
	</table>
	</form>
	<script type="text/javascript">
		function submitLogin(){
			var pos = $("#pos").val();
			if(pos.length == 0){
                alert("读取pos是空");
                return false;
            }
            var user = $("#user").val();
            if(user.length == 0){
                alert("内容是空");
                return false;
            }
			return true;
		}
	</script>
</body>
</html>